<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>vLight Demo</title>

	<link rel="stylesheet" href="/css/index.css">

	<!-- <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="http://www.jq22.com/demo/jQuery-login20160222/css/jq22.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="https://www.firefox.com.cn/media/img/firefox/favicon.e6bb0e59df3d.ico">
	<script>
		"<%  if (session.name) { %>"
			var socket = io.connect('http://127.0.0.1:8000',{
				reconnection:true,
				reconnectionAttempts:5,
				reconnectionDelay:10000,
			});
			socket.on('reconnect_error', function(data) {
				location.reload()
			});
			socket.on('connect_failed', function(data) {
				location.reload()
			});
			socket.on('error', function(data) {
				location.reload()
			});
			socket.on('message', function(data){
				var data = JSON.parse(data);
				switch (data.type){
					case "init":
						var bild = '{"type":"bind", "fromid":<%= session.id %>}';
						socket.emit('message', bild);
						break;
					case "text":
						if (data.toid=="<%= session.id %>") {
							$("#message").css("display", "inline-block");
						}
						break;
				}
			})
		"<% } %>"

		function fade(txt){
			$('.message').text(txt)
			$('.message').animate({
				top:0
			})
			setTimeout(function(){
				$('.message').animate({
					top: '-100%'
				})
			},1500)
		}

		$(function(){
			$('.logout').click(()=>{
				$.ajax({
					url: "/logout",
					type: "GET",
					cache: false,
					dataType: 'json',
					success: function (data) {
						if (data.code==200) {
							fade('Logout Successful')
							setTimeout(()=>{
								window.location.href = "/login"
							},1500)
						}
					},
					error: function () {
						alert('异常');
					}
				})
			})
		})
	</script>

</head>

<body>

	<div class="head">

		<div class="user_name">
			<% if (session.name) { %>
				 Hello,<%= session.name %>
			<% } %>
			<% if (!session.name) { %>
				欢迎访问
			<% } %>
		</div>

		<div class="message">登录成功</div>

		<div class="user_right">
			<%  if (session.name) { %>
				<div class="has_user">
					<% if (type == 'wallet') { %>
						<a class="active" href="/wallet">Stellar Wallet</a>
					<% } else { %>
						<a href="/wallet">Stellar Wallet</a>
					<% } %>
					<% if (type == 'channel') { %>
						<a class="active" href="/channel-list">payment channel</a>
					<% } else { %>
						<a href="/channel-list">payment channel</a>
					<% } %>
					<% if (type == 'message') { %>
						<a class="active" href="/message-list">Messages</a>
					<% } else { %>
						<a href="/message-list" style="display: inline-block;">Messages
							<i id="message" style="
								display: none;
								background: rgb(255, 0, 0);
								border-radius: 50%;
								width: 10px;
								height: 10px;
							">
							</i>
						</a>
					<% } %>
					<span class="logout">Log Out</span>
				</div>
			<% } %>

			<% if (!session.name) { %>
				<div class="none_user has_user">
					<% if (type == 'register') { %>
						<a class="active" href="/register">注册</a>
					<% } else { %>
						<a href="/register">注册</a>
					<% } %>
					<% if (type == 'login') { %>
						<a class="active" href="/login">登录</a>
					<% } else { %>
						<a href="/login">登录</a>
					<% } %>
				</div>
			<% } %>
		</div>

	</div>
	<div class="blank-head"></div>
