<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<title>test</title>

	<link rel="stylesheet" href="/css/index.css">

	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	
	<script>
		"<%  if (session.name) { %>"
			var socket = io.connect('http://127.0.0.1:8000',{
				reconnection:true,
				reconnectionAttempts:5,
				reconnectionDelay:10000,
			});
			socket.on('reconnect_error', function(data) {
				location.reload()
			});
			socket.on('connect_failed', function(data) {
				location.reload()
			});
			socket.on('error', function(data) {
				location.reload()
			});
			socket.on('message', function(data){
				var data = JSON.parse(data);
				switch (data.type){
					case "init":
						var bild = '{"type":"bind","fromid":<%= session.id %>}';
						socket.emit('message', bild);
						break;
					case "text":
						if (data.toid=="<%= session.id %>") {
							$("#message").css("display", "inline-block");
						}
						break;
				}
			})
		"<% } %>"

		function fade(txt){
			$('.message').text(txt)
			$('.message').animate({
				top:0
			})
			setTimeout(function(){
				$('.message').animate({
					top: '-100%'
				})
			},1500)
		}

		$(function(){
			$('.logout').click(()=>{
				$.ajax({
					url: "/logout",
					type: "GET",
					cache: false,
					dataType: 'json',
					success: function (data) {
						if (data.code==200) {
							fade('退出成功')
							setTimeout(()=>{
								window.location.href = "/login"
							},1500)	
						}
					},
					error: function () {
						alert('异常');
					}
				})
			})
		})
	</script>
	
</head>

<body>

	<header>

		<div class="user_name">
			<% if (session.name) { %>
				 Hello,<%= session.name %>
			<% } %>
			<% if (!session.name) { %>
				欢迎注册登录^_^
			<% } %>
		</div>

		<div class="message">登录成功</div>

		<div class="user_right">
			<%  if (session.name) { %>
				<div class="has_user">
					<% if (type == 'wallet') { %>
						<a class="active" href="/wallet">我的钱包</a>
					<% } else { %>
						<a href="/wallet">我的钱包</a>
					<% } %>
					<% if (type == 'channel') { %>
						<a class="active" href="/channel-list">支付通道</a>
					<% } else { %>
						<a href="/channel-list">支付通道</a>
					<% } %>
					<% if (type == 'message') { %>
						<a class="active" href="/message-list">我的消息</a>
					<% } else { %>
						<a href="/message-list" style="display: inline-block;">我的消息
							<i id="message" style="
								display: none;
								background: rgb(255, 0, 0);
								border-radius: 50%;
								width: 10px;
								height: 10px;
							">
							</i>
						</a>
					<% } %>
					<span class="logout">退出</span>
				</div>
			<% } %>

			<% if (!session.name) { %>
				<div class="none_user has_user">
					<% if (type == 'register') { %>
						<a class="active" href="/register">注册</a>
					<% } else { %>
						<a href="/register">注册</a>
					<% } %>
					<% if (type == 'login') { %>
						<a class="active" href="/login">登录</a>
					<% } else { %>
						<a href="/login">登录</a>
					<% } %>
				</div>
			<% } %>
		</div>

	</header>