<%- include("../layouts/head",{type:'register'}) %>
<div class="contack-add-wrap">
	<div>
        <label>Username：</label>
        <input placeholder="Username" type="text" name="user_name" />
    </div>
	<div class="submit">添加</div>
</div>
<script type="text/javascript">
	$('.submit').click(()=>{
			if ($.trim($('input[name=user_name]').val()) == '') {
				fade('Enter Counterpart！')
			} else {
				$.ajax({
					url: "/contack-add",
					data: {
						user_name: $('input[name=user_name]').val(),
					},
					type: "POST",
					cache: false,
					dataType: 'json',
					success: function (data) {
						if(!data.error) {
							fade(data.msg)
							setTimeout(()=>{
								window.location.href="/wallet"
							},1000)
					   	} else {
							fade(data.msg)
					   	}
					},
					error: function () {
						fade('服务器异常')
					}
				})
			}
		})
</script>
<%- include ../layouts/foot %>
