<%- include("../layouts/head",{type:'register'}) %>
<div class="contack-add-wrap">
	<div>
        <label>联系人用户名：</label>
        <input placeholder="请输入用户名" type="text" name="user_name" />
    </div>
	<div class="submit">添加</div>
</div>
<script type="text/javascript">
	$('.submit').click(()=>{
			if ($('input[user_name=user_name]').val().trim() == '') {
				fade('请输入对方用户名！')
			} else {
				$.ajax({
					url: "/contack-add",
					data: {
						user_name: $('input[name=user_name]').val(),
					},
					type: "POST",
					cache: false,
					dataType: 'json',
					success: function (data) {
					   if (data.message == '联系人存在') {
						   $('input').val('')
						   fade('联系人存在')
					   } else if(data.message == '添加成功') {
							var fromid = "<%= session.id %>";
							var _data = '{"type":"text","fromid":"'+fromid+'","toid":"'+data.toid+'"}';
							socket.emit('message', _data);
							fade('添加成功')
							setTimeout(()=>{
								location.reload();
							},1000)
					   	} else {
							fade(data.message)
					   	}
					},
					error: function () {
						fade('异常')
					}
				})			
			}
		})		
</script>
<%- include ../layouts/foot %>