<%- include("../layouts/head",{type:'all'}) %>
	<div class="container">
		<ul>
			<li>
				<a href="step1">1: 建立2个用户账号</a>
			</li>
			<li>
				<a href="step2">2: 建3个辅助账户</a>
			</li>
			<li>
				<a href="step3">3: 2用户相互签名（也就是退款交易）</a>
			</li>
			<li>
				<a href="step4">4: 变更sequenceNumber</a>
			</li>
			<li>
				<a href="step5">5: 2个用户分别充钱进闪电网络（网络架设完成）</a>
			</li>
			<li>
				<a href="step6">6: 可以开始在闪电网络中进行支付了</a>
			</li>
			<li>
				<a href="step7">7: 再次交换签名</a>
			</li>
		</ul>
		<div style="margin-top: 30px" class="pagination" id="page"></div>
	</div>
<% include ../layouts/foot %>
