<%- include("../layouts/head",{type:'all'}) %>
	<div class="container">
		<a href="/stellar/setup">Go Back</a>
		<p>
			step <%= step %>
		</p>
		<div style="margin-top: 30px" class="pagination" id="page"></div>
	</div>
<% include ../layouts/foot %>
