<%- include("../layouts/head",{type:'login'}) %>
	<h1 style="text-align: center;">创建辅助账号</h1>
	<div class="container">
		<form class="form create" method="post ">
			<div>
				<input type="text" value="<%= message %>" readonly="readonly">
			</div>
			<div>
				<label>余额：</label>
				<input type="text" value="<%= balance %>" readonly="readonly">
			</div>
			<div class="submit">创建</div>
		</form>		
	</div>
	<script>
		$(window).keyup(function(e) {
			if (e.keyCode == 13) {
				$('.submit').click()
			}
		})
		$('.submit').click(()=>{
			console.log($('.form').serialize())
			$.ajax({
				url: "/helper",
				type: "POST",
				cache: false,
				dataType: 'json',
				success: function (data) {
				    if(data.code==200) {
					    fade('创建成功')
					    console.log(data)
				    } else {
						$('input').val('')
					    fade('建立失败')
				    }
				},
				error: function () {
					fade('异常')
				}
			})
		})		
	</script>
<% include ../layouts/foot %>