<%- include("../layouts/head",{type:'lobby'}) %>
	<div class="container">
		<ul>
			<li>
				<a href="snapshoot"><h1>Exchange Snapshots</h1></a>
			</li>
			<li>
				<a href="ratchet"><h1>Exchange Rachet Tx</h1></a>
			</li>
			<li>
				<a href="create"><h1>Open Payment Channel</h1></a>
			</li>
			<li>
				<a href="javascript:;"><h1>Transact</h1></a>
			</li>
			<li>
				<a href="javascript:;"><h1>Close the Channel</h1></a>
			</li>
		</ul>
	</div>
<% include ../layouts/foot %>