<%- include("../layouts/head",{type:'login'}) %>
	<h1 style="text-align: center;">交换快照</h1>
	<div class="container">
		<form class="form create" method="post ">
			<div class="submit">交换</div>
		</form>		
	</div>
	<script>
		$(window).keyup(function(e) {
			if (e.keyCode == 13) {
				$('.submit').click()
			}
		})
		$('.submit').click(()=>{
			console.log($('.form').serialize())
			$.ajax({
				url: "/snapshoot",
				type: "POST",
				cache: false,
				dataType: 'json',
				success: function (data) {
				    if(data.code==200) {
					    fade('交换申请成功')
					    console.log(data)
				    } else {
						$('input').val('')
					    fade('建立失败')
				    }
				},
				error: function () {
					fade('异常')
				}
			})
		})		
	</script>
<% include ../layouts/foot %>