<%- include("../layouts/head",{type:'channel'}) %>
	<h1 style="text-align: center;">创建新通道</h1>
	<div class="container">
		<form class="form create" method="post ">
			<div>
				<label>通道名称：</label>
				<input placeholder="请输入通道名称" type="text" name="channel_name" />
			</div>
			<div>
				<label>存入数量：</label>
				<input placeholder="请输入存入数量" type="text" name="amount" />
			</div>
			<div>
				<label>对方名称：</label>
				<input placeholder="请输入对方名称" type="text" name="user_name" />
			</div>
			<div class="submit">发起申请</div>
		</form>		
	</div>
	<script>
		$(window).keyup(function(e) {
			if (e.keyCode == 13) {
				$('.submit').click()
			}
		})
		$('.submit').click(()=>{
			if ($('input[name=channel_name]').val().trim() == '') {
				fade('请输入通道名称')
			} else if ($('input[name=amount]').val().trim() == '') {
				fade('请输入存入数量')
			} else if ($('input[name=user_name]').val().trim() == '') {
				fade('请输入对方名称')
			} else {
				console.log($('.form').serialize())
				$.ajax({
					url: "/channel-create",
					data: $('.form').serialize(),
					type: "POST",
					cache: false,
					dataType: 'json',
					success: function (data) {
					    if(data.code==200) {
						    fade('申请成功，等待对方操作')
					    } else {
						    fade(data.message)
					    }
					},
					error: function () {
						fade('异常')
					}
				})			
			}
		})		
	</script>
<% include ../layouts/foot %>