<%- include("../layouts/head",{type:'channel'}) %>
	<h1 style="text-align: center;">Create New Channel</h1>
	<div class="container">
		<form class="form create" method="post ">
			<div>
				<label>Channel Name：</label>
				<input placeholder="Enter Channel Name" type="text" name="channel_name" />
			</div>
			<div>
				<label>Amount：</label>
				<input placeholder="Input Amount" type="text" name="amount" />
			</div>
			<div>
				<label>Counterpart Name ：</label>
				<input placeholder="Enter Counterpart Name " type="text" name="user_name" />
			</div>
			<div class="submit">Apply</div>
		</form>
	</div>
	<script>
		$(window).keyup(function(e) {
			if (e.keyCode == 13) {
				$('.submit').click()
			}
		})
		$('.submit').click(()=>{
			if ($('input[name=channel_name]').val().trim() == '') {
				fade('Enter Channel Name')
			} else if ($('input[name=amount]').val().trim() == '' || $('input[name=amount]').val()<1) {
				fade('Input positive amount')
			} else if ($('input[name=user_name]').val().trim() == '') {
				fade('Enter Counterpart Name ')
			} else {
				$.ajax({
					url: "/channel-create",
					data: $('.form').serialize(),
					type: "POST",
					cache: false,
					dataType: 'json',
					success: function (data) {
					    if(data.code==200) {
							var fromid = "<%= session.id %>";
							var _data = '{"type":"text","fromid":"'+fromid+'","toid":"'+data.toid+'"}';
							socket.emit('message', _data);
						    fade('Requested, waiting on counterpart')
					    } else {
						    fade(data.message)
					    }
					},
					error: function () {
						fade('异常')
					}
				})
			}
		})
	</script>
<% include ../layouts/foot %>
